/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #a16207;
}

img {
    max-width: 20vw;
    max-height: 20vw;
}

a {
    text-decoration: none;
    color: black;
}

#nav_links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin: 2vw;
    background-color: #d97706;
}

#nav_links a {
    flex-basis: 20vw;
    text-align: center;
}

#nav_links a:hover {
    background-color: #b45309;
}

#beaver_lake {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 2vw;
}

.beaver {
    flex: 1 1 40vw;
    border-radius: 2vw;
    background-color: #d97706;
}

.beaver:hover {
    box-shadow: 0 0 2vw #b45309, 0 0 2vw #b45309;
}

.beaver > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 1vw;
    justify-content: space-around;
    align-items: center;
}

#beaver_options {
    flex-basis: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}